In [12]:
import pandas as pd

In [13]:
pd.__version__

'2.1.3'

In [14]:
dict_medidas = {'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [15]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [16]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [17]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de Posição

In [18]:
# media 
df_medidas["idade"].mean()

41.77777777777778

In [19]:
# mediana

df_medidas["idade"].median()

40.0

In [20]:
# moda 
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [21]:
df_medidas["altura"].mode()

0    174
Name: altura, dtype: int64

## Medidas de Dispersão

In [22]:
# variancia

df_medidas.idade.var()

509.94444444444446

In [23]:
# desvio padrão

df_medidas.idade.std()

22.58194952709895

In [24]:
# Coeficiente de Variação - Idade

df_medidas.idade.std() / df_medidas.idade.mean() * 100

54.05253876167302

In [25]:
# Coeficiente de Variação - Altura
df_medidas.altura.std() / df_medidas.altura.mean() * 100

3.4803552812368785

## Medidas de Forma

In [26]:
# Simetria - mostrar o grau e a distorção em relação a média, calda direita positiva, esquerada é negativa 
# positivas -> valores são bastante espalhados

df_medidas.idade.skew()

0.368108517895537

In [27]:
# Assimetria - Altura

# valor negativo significa que a calda esqueda é mais longa -> valores menos espalhados

df_medidas.altura.skew()

-0.598486996170113

In [28]:
# curtose - verifica que tipo de shape tem a distribuicao

df_medidas.idade.kurtosis()

-1.1344461075421046

In [29]:
# curtose altura 
df_medidas.altura.kurtosis()

-1.3372641199913002

In [30]:
# obter medidas estatíticas 

df_medidas.idade.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64

## Correlação de Variáveis

In [32]:
#correlação do Dataframe, segundo Pearson
df_medidas.corr(method='pearson')

           idade    altura
idade   1.000000  0.931024
altura  0.931024  1.000000

In [33]:
# Correlação entre 2 variáveis

df_medidas.idade.corr(df_medidas.altura)

0.9310236045054339

In [34]:
# Correlação de Dataframe, segundo Spearman
df_medidas.corr(method='spearman')

           idade    altura
idade   1.000000  0.978803
altura  0.978803  1.000000